/* Home.html */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

#homepage-header {
    background-color: #10263B;
    color: white;
    text-align: center;
    padding: 50px 25px;
}

.iframe-header {
    background-color: #10263B;
    color: white;
    margin-bottom: 10px;
}

.container.header-container h1 {
    margin-bottom: 0.85em;
}

.container.header-container #search-button {
    background-color: #009BC1;
}

.container.header-container #search-button:hover {
    background-color: #792D85;
    transition: 0.5s;
    transform: scale(110%);
}

img {
    max-width: 100%;
    height: auto;
}

.youtube-title {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.video-col, .test-col {
    padding: 30px;
}

input {
    position: relative;
}

@media (max-width: 200px) {
    input {
        width: 70%;
        max-width: 100%;
    }
}

a {
    color: #000;
    text-decoration: none;
}

a:hover, a:visited {
    color: #000;
    text-decoration: none;
}

/* iFrame.html */

iframe {
    max-width: 100%;
    aspect-ratio: 16 / 9;
}

.university-logo {
    padding: 10px;
    margin: 20px;
    background-color: #FFF;
}

.home-button {
    text-align: right; 
    margin: 20px; 
    padding: 10px;
}

@media (max-width: 767px) {
    .home-button {
        text-align: center;
        margin: 10px;
    }
}

@media (max-width: 576px) {
    .university-logo {
        aspect-ratio: 255/94;
        padding: 15px;
    }
    
}

.iframe-header {
    background-color: #FFF;
    margin-bottom: 0px;
}

.iframe-header .university-logo {
    padding: 10px;
    margin: 5px;
}

.home-link {
    color: #10263B;
    text-decoration: none;
}

.home-link:hover, .home-link:visited {
    color: #10263B;
    text-decoration: none;
}

.notes-and-suggestion-section {
    width: 100%;
    float: right;
    border-left: 1px solid #ccc;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto; /* Enable scrolling if notes list becomes too long */
    height: 80vh;  /* Adjust this according to your design */
}

.suggest-video-row {
    margin-bottom: 0.8rem;
}

#note-input, #note-timestamp {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #fdf8c8;
}

#note-input {
    height: 20vh;
}

#note-input::placeholder {
    transform: translateY(-50px);
}

#notes-list li {
    list-style-type: none; 
    margin-top: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    position: relative;
}

#add-note-btn, #copy-link-btn {
    background-color: #10263B;
    color: #FFF;
    border: 3px solid#10263B;
}

/* Delete button styling */
.delete-note-btn {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

/* Hover effect for delete button */
.delete-note-btn:hover {
    background-color: darkred;
}

@media (max-width: 768px) {
    .notes-section {
        margin-bottom: 0.8rem;
    }
}

@media (min-width: 994px) and (max-width: 1180px) {
    .suggest-title {
        font-size: 1rem;
    }
    
    .suggest-channel {
        font-size: 0.8rem;
    }
}

@media (min-width: 768px) and (max-width: 993px) {
    .suggest-title {
        font-size: 0.7rem;
    }
    
    .suggest-channel {
        font-size: 0.7rem;
    }
}
